{{- /*
Renders the tree of contents.

@context {page} page The current page.
@context {string} menuID "main".

@example: {{ partial "toc.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }} {{/* just "main", passed when we call this template in header.html */}}

<div class="nav-tree-box">
    <div class="box-title">tree of contents</div>
    <nav class="nav-tree">
      {{/* Root of tree */}}
      {{- with index site.Menus $menuID }} {{/* If menu exists */}}
        {{/* pass currentpage.page as page and currentpage as menuentries? */}}
        {{- partial "toc-walk.html" (dict "page" $page "menuEntries" . "isRoot" true) }}
      {{- end }}
    </nav>
</div>

{{- define "partials/toc-walk.html" }}
  {{- $isRoot := .isRoot}} {{/* isRoot passed as boolean */}}
  <ul {{- if $isRoot}} class="root-ul"{{end}}>
    {{- $page := .page }}
    {{- $pathnode := dict }}
    {{- range .menuEntries }}
      {{- $a_attrs := dict "class" ""}}
      {{- $li_attrs := dict "class" ""}}

      {{/* Is in path? (ancestor or current) */}}
      {{- if or ($page.IsMenuCurrent "main" .) ($page.HasMenuCurrent "main" .) ($isRoot)}} {{/*imc = menuEntry matches current page, hmc = menu entry matches child of current page, ih = is /*/}}
        {{- $a_attrs = merge $a_attrs (dict "class" "path-node") }} 
        {{- $li_attrs = merge $li_attrs (dict "class" "path-node") }} 
        {{- $pathnode = .}}
      {{- end }}

      {{/* Is root node? */}}
      {{ if $isRoot}}
        {{- $a_attrs = merge $a_attrs (dict "href" "/")}}
        {{$li_attrs = merge $li_attrs (dict "class" (print $li_attrs.class " root"))}}
      {{ else }}
        {{- $a_attrs = merge $a_attrs (dict "href" .URL) }}
      {{ end }}

      {{/* Is leaf node? */}}
      {{- if (not .HasChildren)}}
        {{$a_attrs = merge $a_attrs (dict "class" (print $a_attrs.class " leaf"))}}
        {{$li_attrs = merge $li_attrs (dict "class" (print $li_attrs.class " leaf"))}}
      {{- end }}

      {{/* Create <li> and <a> tags for node, add attrs */}}
      {{- $name := .Name }}
      <li
        {{- range $a, $b := $li_attrs }}
          {{- with $b }}
            {{- printf " %s=%q" $a $b | safeHTMLAttr }}
          {{- end }}
        {{- end -}}>
        <a
          {{- range $k, $v := $a_attrs }}
            {{- with $v }}
              {{- printf " %s=%q" $k $v | safeHTMLAttr }}
            {{- end }}
          {{- end -}}
        >{{ $name }}</a>
      </li>
    {{- end }}
  </ul>
  
  {{/* children */}}
  {{- if $pathnode }}
    {{- if $pathnode.Children }}
      {{- with $pathnode.Children }}
        
          {{- partial "toc-walk.html" (dict "page" $page "menuEntries" . "isRoot" false) }}
        
      {{- end }}
    {{- end }}
  {{- end }}

{{- end }}