<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=480, initial-scale=1.0" />
        <title>rhubarb.garden</title>
        <link rel="stylesheet" href="style.css" />
    </head>

    <body>
        <div class="top-bar">
            <div class="main-title">
                <a href="/">rhubarb.garden</a>
            </div>
        </div>
        <div class="nav-tree-box">
            <div class="box-title">tree of contents</div>
            <nav class="nav-tree">
                <ul class="root-ul">
                    <li class="path-node root"><a href="/">root</a></li>
                </ul>
                <ul>
                    <li class="first"><a href="/">about</a></li>
                    <li><a href="/">code</a></li>
                    <li><a href="/">photography</a></li>
                    <li><a href="/">words</a></li>
                    <li><a href="/">contact</a></li>
                    <li class="last"><a href="/">credits</a></li>
                </ul>
            </nav>
        </div>
        <div class="text-content">
            <p></p>
        </div>
        <span class="dinkus">✦ ✦ ✦</span> 
    </body>
</html>