:root {
  --main-bg-color-old: #13091c;
  --main-bg-color: #1c091b;
  --terminal-bg-color: #1f1f1f;
  --hot-pink: #ef8eb0;
  --light-pink: #f1c3de;
  --prompt-user: #796472;
  --terminal-bg-color: #090909;
}

body {
   margin: 0;
   padding: 0; 
   background-color: var(--main-bg-color);
}

a, a:visited, a:active { /*Make all anchors the same color as text they are a part of*/
  color: inherit;
}

a.result-link {
    text-decoration: none;
}

.top-bar {
    display:flex;
    align-items:center;
    padding-left:1rem;
    background-color: var(--hot-pink);
    min-height:2rem
}

.path {
    font-family: monospace;
    color: var(--terminal-bg-color);
}

#terminal-window {
    background-color: #090909; 
    font-family: monospace;
    font-size: 13pt;
    color: var(--light-pink);
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid;
    height: 75%;
    width: 70%;
}

#terminal-window p {
    margin: 0;
    display: inline-block;
}

.prompt::before {
   color: var(--prompt-user); 
   content: "roots@rhubarb.garden";
}
.prompt::after {
   color:var(--hot-pink);
   font-weight: bold;
   content: " $ "
}

.blink {
    animation-name: blink;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 0.4s;
    animation-iteration-count: infinite;
    animation-timing-function: step-end;
}
@keyframes blink {
    0% { opacity: 0%;}
    50% { opacity: 100%;}
}

.flicker {
    opacity: 0%;
    animation-name: flicker;
    animation-fill-mode: forwards;
    animation-duration: 0.2s;
    animation-timing-function: step-end;
}
@keyframes flicker {
    0% { opacity: 0%; }
    20% { opacity: 100%; }
    25% { opacity: 0%; }
    100% { opacity: 100%; }
}

#cat {
    display: inline-flex;
    overflow: hidden;
    width: auto;
}

.welcome-box {
    width: auto;
    height: 0px;
    opacity: 0;
    border: 1px solid #747f8d;
    position: relative;
    padding: 1.0rem 0.8rem 0.6rem 0.8rem;
    top: 1.2em;
    animation: 0.7s ease 1.5s forwards wb-drop;
}

@keyframes wb-drop {
    0% { opacity: 0; height: 0%}
    100% { opacity: 1; height: 400px;}
}

.wb-title {
    position: absolute;
    top: -0.7em;
    left: 0.6rem;
    background: var(--terminal-bg-color);
    padding: 0 0.4rem;
}

.wb-divider {
    grid-column: 1 / -1;
    position: relative;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    border-top: 1px solid #444;
}

.wb-divider-text {
    position: absolute;
    top: -0.8em;
    padding-right: 0.4rem;
    padding-left: 0.2rem;
    background-color: var(--terminal-bg-color);
}

.links-column {

}

/*typing and printout steps + duration set in each #-id thing*/

@keyframes printout {
    from { max-height: 0}
    to { max-height: 100% }
}