:root { 
    --fg: #303030; 
    --bg: #f0eedc; 
    --link-local: #bccabb; 
    --link-hover: var(--fg); 
}

.main-title {
    font-weight: 900;
    font-style: italic;
    font-size: 2.5em;
    margin-top: 20px;
    overflow: hidden;
}

body {
   margin: 10px auto;
   max-width: 800px;
   background-color: var(--bg);
   font-size: 11pt;
}

a, a:visited, a:hover, a:active { /*Make all anchors the same color as text they are a part of*/
  color: inherit;
}

.top-bar {
    display:flex;
    align-items:center;
    padding-left:1rem;
    border-bottom:.125rem solid var(--fg);
    min-height:2rem
}

.path {
    font-family: monospace;
    color: #2c2c2c;
}

.path a {
    
}

#terminal {
   background-color: #2c2c2c; 
   font-family: Hack;
   font-size: 13pt;
   color: white;
   padding: 10px;
}

.prompt {
   color:chocolate; 
}

.terminal-text p {
    font-family: Hack;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.box {
    width: 0%;
    height: 0%;
    border: 3px solid;
}

.zoom {
    animation-name: zoom;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 0.4s;
    animation-timing-function: ease;
}
@keyframes zoom {
    0% {
        height: 0px;
        width: 0px;
    }
    50% {
        height: 600px;
        width: 0px;
    }
    100% {
        height: 600px;
        width: 1000px;
    }
}

.terminal-container {
    display: inline-flex;
}

.typed-text {
    color: white;
} 

/* .command {
    overflow: hidden;
    white-space: normal;
    animation: typing 2.5s steps(40, end);
} */

#ls {
    display: inline-block;
    overflow: hidden;
    width: 0;
    white-space: nowrap;
    animation: typing 1s 2s steps(2, end) forwards; 
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.blink {
    animation-name: blink;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 0.4s;
    animation-iteration-count: infinite;
    animation-timing-function: step-end;
}
@keyframes blink {
    0% { opacity: 0%;}
    50% { opacity: 100%;}
}

