:root { 
    --fg: #303030; 
    --bg: #f0eedc; 
    --link-local: #bccabb; 
    --link-hover: var(--fg); 
}

@font-face {
  font-family: "ETBook"; 
  src: url(../assets/fonts/et-book/et-book-roman-line-figures.ttf); 
}

@font-face {
  font-family: "ETBook"; 
  src: url(../assets/fonts/et-book/et-book-display-italic-old-style-figures.ttf); 
  font-style: italic;
}

@font-face {
  font-family: "ETBook"; 
  src: url(../assets/fonts/et-book/et-book-bold-line-figures.ttf); 
  font-weight: bold;
}

.main-title {
    font-weight: 900;
    font-style: italic;
    font-size: 2.5em;
    margin-top: 20px;
    overflow: hidden;
}

body {
   margin: 0px auto;
   max-width: 800px;
   background-color: var(--bg);
   font-size: 13pt;
}

a, a:visited, a:hover, a:active { /*Make all anchors the same color as text they are a part of*/
  color: inherit;
}

.top-bar {
    display:flex;
    align-items:center;
    padding: 0.5rem;
    font-size: 11pt;
    border-bottom:.125rem solid var(--fg);
    min-height:2rem
}

.path {
    font-family: monospace;
    color: #2c2c2c;
}

.path a {
    text-decoration: none;
}

.path a:hover {
    color: var(--bg);
    background-color: var(--fg);
}

path.leaf a {
    text-decoration: inherit;
    color: var(--bg);
    background-color: var(--fg);
}