:root {
  --main-bg-color-old: #13091c;
  --main-bg-color: #1c091b;
  --terminal-bg-color: #1f1f1f;
  --hot-pink: #ef8eb0;
  --light-pink: #f1c3de;
  --prompt-user: #796472;
}

body {
   margin: 0;
   padding: 0; 
   background-color: var(--main-bg-color);
}

a, a:visited, a:active { /*Make all anchors the same color as text they are a part of*/
  color: inherit;
}

.ls-results {
    column-count: auto;
    column-width: auto;
    column-height: 1px;
    color: var(--hot-pink);
    font-weight: 500;
}

a.result-link {
    text-decoration: none;
}

.top-bar {
    display:flex;
    align-items:center;
    padding-left:1rem;
    background-color: var(--hot-pink);
    min-height:2rem
}

.path {
    font-family: Hack;
    color: var(--terminal-bg-color);
}

#terminal-window {
    background-color: #090909; 
    font-family: monospace;
    font-size: 13pt;
    color: var(--light-pink);
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid;
    height: 800px;
    width: 1000px;
}

.prompt::before {
   color: var(--prompt-user); 
   content: "roots@rhubarb.garden";
}
.prompt::after {
   color:var(--hot-pink);
   font-weight: bold;
   content: " $ "
}

.blink {
    animation-name: blink;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 0.4s;
    animation-iteration-count: infinite;
    animation-timing-function: step-end;
}
@keyframes blink {
    0% { opacity: 0%;}
    50% { opacity: 100%;}
}

.typing-wrapper {
    display: inline-block;
    position: relative;
}

#cat {
    display: inline-flex;
    overflow: hidden;
    white-space: nowrap;
    width: auto;
    border-right: 0.65em solid transparent;
    animation: 
        typing 1s steps(100, end) forwards,
        blink-border 1s step-end 2;
}

#headline {
    display: inline-flex;
    overflow: hidden;
    white-space: nowrap;
    height: auto;
    animation: 
        printout 2s steps(4, end) forwards,
}

/*typing and printout steps + duration set in each #-id thing*/


@keyframes blink-border {
    50% { border-color: var(--light-pink);}
    0% { border-color: transparent;}
}

@keyframes printout {
    from { max-height: 0}
    to { max-height: 100% }
}